In [8]:
#Importing the Libraries 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [9]:
#importing the dataset
dataset=pd.read_csv('Social_Network_Ads.csv')
x=dataset.iloc[:, [2,3]].values
y=dataset.iloc[:, -1].values
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [10]:
#splitting the dataset into the training set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [11]:
#feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [12]:
#Training the k-nn model on the training set
from sklearn.neighbors import KNeighborsClassifier
Classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p=2)
Classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [13]:
y_pred = Classifier.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test, y_pred)
cm

array([[55,  3],
       [ 1, 21]])